<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>View Anagrams</title>
    </head>
    <body>
        <div class="container">
            <h1>Here are your anagrams :D</h1>
            <h3>{{ result }}</h3>
        </div>
    </body>
</html>
